body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url("a.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    animation: chatFadeIn 1s ease-in ;  
}




#header_bar {
    border-radius: 22px;
    padding: 8px;
    background: #5252527c;
     border-bottom: 1px solid #3c0097;
    box-shadow: 0 0 10px rgb(97, 97, 97);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    position: relative;
}

#welcome {
    margin: 0;
    text-align: center;
    color: #ffffff;
    
}

#logout-btn {
    padding: 8px 15px;
    border-radius: 15px;
    position: absolute;
    top: 7px;
    right: 8px;
}

#left-panel {
    border-right: 1px solid #3c0097;
    border-bottom: 1px solid #3c0097;
    margin-top: 10px;
    margin-bottom: 0px;
    width:25%; 
    background:#5252527c;
    backdrop-filter: blur(5px);
    color:#fff; 
    padding:10px; 
    overflow-y:auto;
}

#contact {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-bottom: 1px solid #3c0097;
    box-shadow:  0 5px 10px rgb(90, 1, 206);
    border-radius: 10px;
    margin-bottom: 5px;

    
}



#right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chat-header {
    background:#731fa3;
    border-radius: 13px;   /* ALL corners */
    margin-top: 10px;
    color: white;
}


/* ===== CHAT BOX ===== */

#chat-box {
    flex:1; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding:10px;
    overflow-y:auto;
    color: #ffffff;
    background: #252525d3; 
    backdrop-filter: blur(10px);
    border-right: 1.5px solid #3c0097;
    border-bottom: 2px solid #3c0097;
    box-shadow: 0 2px 5px #3c0097;
    border-radius:16px; 
    margin-top:10px;
   
}

/* ADMIN MESSAGE (RIGHT) */
.sent {
    align-self: flex-end;          /* RIGHT */
    background: #7e03a3;
    padding: 10px 14px;
    margin: 6px 0;
    max-width: 65%;
    border-radius: 18px;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* STUDENT MESSAGE (LEFT) */
.received {
   
    align-self: flex-start;        /* LEFT */
    background: #7d00c5;
    padding: 10px 14px;
    margin: 6px 0;
    max-width: 65%;
    border-radius: 18px;  
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* TIME / NAME */
.sent small,
.received small {
    display: block;
    font-size: 11px;
    color: #ffffff;
    margin-top: 4px;
}






.chat-box::-webkit-scrollbar {
    display: none;
}





#textArea {
   flex:1; 
   text-align:left;
   border-radius:22px;
   padding:  8px;
}

#sendBtn {
    margin-left:10px;
     border:none; 
     background:#5900ff; 
     color:white;
    border-radius:15px; 
    padding:10px;
}

button, input[type=submit] {
    padding: 8px 15px;
    background: #2f0175;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 22px;
}

#sendBtn:hover, input[type=submit]:hover {
    background: #4900b6;
    box-shadow: 0 0 10px #4900b6;
}

button:hover, input[type=submit]:hover {
    background: #29005e;
    box-shadow: 0 4px 10px #29005e;
}

.time {
    font-size: 11px;
    color: #ffffff;
    text-align: right;
    margin-top: 4px;
}

@keyframes chatFadeIn {
    from {opacity: 0; transform: translateX(0px);}
    to {opacity: 1; transform: translateX(0);}
}
