
body{
font-family: Arial, sans-serif;
background: linear-gradient(135deg, #0c016d 10%, #4e005e 40%, #7a003d 80%, #ff0000 100%); 

}



.container{
width:800px;
margin:40px auto;
background:rgb(255, 255, 255);
padding:20px;
border-radius:20px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

#logout-btn{
background:#ff4b5c;
border:none;
color:white;
padding:6px 14px;
border-radius:6px;
cursor:pointer;
margin-top: 20px;
margin-left: 20px;
}

h2{
margin-top:0;
color:#333;
}

form input{
width:50%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:4px;
}

button{
background:#007bff;
color:white;
border:none;
padding:10px 20px;
border-radius:4px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table th,table td{
padding:10px;
border-bottom:1px solid #ddd;
text-align:left;
}

.delete-btn{
color:white;
background:red;
padding:6px 10px;
text-decoration:none;
border-radius:4px;
}

.delete-btn:hover{
background:darkred;
}

